<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">"Never Stop Learning"</h2>
                <hr class="light">
                <p class="text-faded">I am a determined junior software engineer with a passion for technology, teamwork and problem solving. My experience as a classical musician and as a former member of the military has molded my temperament into a team player who does not give on myself or others.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
