<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Information</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">
                <i class="fab fa-linkedin fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
        <br>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".4s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".6s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
