<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technology Stack</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-js-square wow bounceIn text-primary"></i>
                    <h3>JavaScript</h3>
                    <p class="text-muted">ES6</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-react wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>React</h3>
                    <p class="text-muted">JavaScript Framework</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-html5 wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>HTML</h3>
                    <p class="text-muted">HyperText</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-css3-alt wow bounceIn text-primary" data-wow-delay=".6s"></i>
                    <h3>CSS</h3>
                    <p class="text-muted">Cascading Style Sheets</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-python wow bounceIn text-primary" data-wow-delay=".8s"></i>
                    <h3>Python</h3>
                    <p class="text-muted">V3</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/portfolio/django-short.png" class="fa fa-4x wow bounceIn text-primary" data-wow-delay="1.0s"/>
                    <p class="text-muted">Python Library</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fab fas fa-database wow bounceIn text-primary" data-wow-delay="1.2s"></i>
                    <h3>SQL</h3>
                    <p class="text-muted">Database Management</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-6x fab fab fa-npm wow bounceIn text-primary" data-wow-delay="1.4s"></i>
                    <p class="text-muted">Node Package Manager</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fab fa-git-alt wow bounceIn text-primary" data-wow-delay="1.6s"></i>
                    <h3>Git</h3>
                    <p class="text-muted">Version Control</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/portfolio/postman.png" class="fa fa-4x wow bounceIn text-primary" data-wow-delay="1.8s"/>
                    <h3>Postman</h3>
                    <p class="text-muted">API Client</p>
                </div>
            </div>
        </div>
    </div>
</section>
